In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df1 = pd.read_csv('df1_final_business_data_information.csv', index_col=0)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 580 entries, 0 to 579
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Location         580 non-null    object
 1   School           580 non-null    object
 2   Course           580 non-null    object
 3   Degree_type      580 non-null    object
 4   Pace             451 non-null    object
 5   Duration         406 non-null    object
 6   Language         580 non-null    object
 7   Mode             555 non-null    object
 8   Description      580 non-null    object
 9   Link             580 non-null    object
 10  Country          580 non-null    object
 11  City             580 non-null    object
 12  Continent        580 non-null    object
 13  Duration_years   580 non-null    float64
 14  InEnglish        580 non-null    bool
 15  Lang_primary     580 non-null    object
 16  Introduction     580 non-null    object
 17  Curriculum       153 non-null    object
 18  Careers          175 non-null    object
 19  Program_outcome  56 non-null     object
dtypes: bool(1), float64(1), object(18)
memory usage: 91.2+ KB

In [3]:
df2 = pd.read_csv('df1_dev_final.csv', index_col=0)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 469 entries, 0 to 468
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Location         469 non-null    object
 1   School           469 non-null    object
 2   Course           469 non-null    object
 3   Degree_type      469 non-null    object
 4   Pace             307 non-null    object
 5   Duration         280 non-null    object
 6   Language         469 non-null    object
 7   Mode             443 non-null    object
 8   Description      469 non-null    object
 9   Link             469 non-null    object
 10  Country          469 non-null    object
 11  City             469 non-null    object
 12  Continent        469 non-null    object
 13  Duration_years   469 non-null    float64
 14  InEnglish        469 non-null    bool
 15  Lang_primary     469 non-null    object
 16  Introduction     469 non-null    object
 17  Curriculum       119 non-null    object
 18  Careers          101 non-null    object
 19  Program_outcome  40 non-null     object
dtypes: bool(1), float64(1), object(18)
memory usage: 73.7+ KB

In [4]:
df = pd.concat([df1,df2])

In [5]:
df.reset_index(drop = True, inplace = True)

In [6]:
df.duplicated().sum()

126

In [7]:
df.drop_duplicates(keep = 'first', inplace = True, ignore_index = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Location         923 non-null    object
 1   School           923 non-null    object
 2   Course           923 non-null    object
 3   Degree_type      923 non-null    object
 4   Pace             660 non-null    object
 5   Duration         595 non-null    object
 6   Language         923 non-null    object
 7   Mode             877 non-null    object
 8   Description      923 non-null    object
 9   Link             923 non-null    object
 10  Country          923 non-null    object
 11  City             923 non-null    object
 12  Continent        923 non-null    object
 13  Duration_years   923 non-null    float64
 14  InEnglish        923 non-null    bool
 15  Lang_primary     923 non-null    object
 16  Introduction     923 non-null    object
 17  Curriculum       244 non-null    object
 18  Careers          247 non-null    object
 19  Program_outcome  87 non-null     object
dtypes: bool(1), float64(1), object(18)
memory usage: 138.0+ KB

In [8]:
df['Link'].duplicated().sum()

28

In [9]:
df.head(4)

,Location,School,Course,Degree_type,Pace,Duration,Language,Mode,Description,Link,Country,City,Continent,Duration_years,InEnglish,Lang_primary,Introduction,Curriculum,Careers,Program_outcome
0,"Bad Honnef, Germany +1 More",IU International University of Applied Science...,B.Eng. Industrial Engineering and Management,Bachelor,Full-time,36 months,English,Online & Campus Combined,Looking for a study programme that trains you ...,https://www.bachelorstudies.com//B.Eng.-Indust...,Germany,Bad Honnef,Europe,3.0,True,English,Looking for a study programme that trains you ...,NaN,### Career OpportunitiesAfter completing their...,NaN
1,"Emmen, Netherlands",NHL Stenden University of Applied Sciences,Bachelor in Information Technology (IT),Bachelor,Full-time,4 years,English,Campus,"Work in a challenging and exciting field, whil...",https://www.bachelorstudies.com/Bachelor-in-In...,Netherlands,Emmen,Europe,4.0,True,English,"Work in a challenging and exciting field, whil...",### CurriculumThe curriculum is based on our D...,### Career OpportunitiesThis 4-year bachelor p...,NaN
2,"Berlin, Germany",GISMA University of Applied Science,"BSc Data Science, AI & Digital Business",BSc,Full-time,36 months,English,Campus,This unique combination of business and techno...,https://www.bachelorstudies.com/BSc-Data-Scien...,Germany,Berlin,Europe,3.0,True,English,Apply Now This unique combination of business ...,### Curriculum#### How will you study?GISMA Bu...,NaN,NaN
3,"Berlin, Germany",GISMA University of Applied Science,"BSc Data Science, AI & Digital Business",BSc,Full-time,36 months,English,Campus,This unique combination of business and techno...,https://www.bachelorstudies.com/BSc-Data-Scien...,Germany,Berlin,Europe,3.0,True,English,Apply Now This unique combination of business ...,### Curriculum#### How will you study?GISMA Bu...,NaN,### Program Outcome#### **What will you learn?...

In [10]:
for i in range(0,len(df)):
    if df['Curriculum'].isna()[i]:
        for j in range(0,len(df)):
            if df['Link'][j] == df['Link'][i] and df['Curriculum'].isna()[j] == False:
                 df.loc[[i],'Curriculum'] = df['Curriculum'][j]

In [11]:
for i in range(0,len(df)):
    if df['Careers'].isna()[i] == False and len(df['Careers'][i])<30:
        df.loc[[i],'Careers'] = np.nan

In [12]:
for i in range(0,len(df)):
    if df['Careers'].isna()[i]:
        for j in range(0,len(df)):
            if df['Link'][j] == df['Link'][i] and df['Careers'].isna()[j] == False:
                df.loc[[i],'Careers'] = df['Careers'][j]

In [13]:
for i in range(0,len(df)):
    if df['Program_outcome'].isna()[i]:
        for j in range(0,len(df)):
            if df['Link'][j] == df['Link'][i] and df['Program_outcome'].isna()[j] == False:
                df.loc[[i],'Program_outcome'] = df['Program_outcome'][j]

In [14]:
df.head(4)

,Location,School,Course,Degree_type,Pace,Duration,Language,Mode,Description,Link,Country,City,Continent,Duration_years,InEnglish,Lang_primary,Introduction,Curriculum,Careers,Program_outcome
0,"Bad Honnef, Germany +1 More",IU International University of Applied Science...,B.Eng. Industrial Engineering and Management,Bachelor,Full-time,36 months,English,Online & Campus Combined,Looking for a study programme that trains you ...,https://www.bachelorstudies.com//B.Eng.-Indust...,Germany,Bad Honnef,Europe,3.0,True,English,Looking for a study programme that trains you ...,NaN,### Career OpportunitiesAfter completing their...,NaN
1,"Emmen, Netherlands",NHL Stenden University of Applied Sciences,Bachelor in Information Technology (IT),Bachelor,Full-time,4 years,English,Campus,"Work in a challenging and exciting field, whil...",https://www.bachelorstudies.com/Bachelor-in-In...,Netherlands,Emmen,Europe,4.0,True,English,"Work in a challenging and exciting field, whil...",### CurriculumThe curriculum is based on our D...,### Career OpportunitiesThis 4-year bachelor p...,NaN
2,"Berlin, Germany",GISMA University of Applied Science,"BSc Data Science, AI & Digital Business",BSc,Full-time,36 months,English,Campus,This unique combination of business and techno...,https://www.bachelorstudies.com/BSc-Data-Scien...,Germany,Berlin,Europe,3.0,True,English,Apply Now This unique combination of business ...,### Curriculum#### How will you study?GISMA Bu...,NaN,### Program Outcome#### **What will you learn?...
3,"Berlin, Germany",GISMA University of Applied Science,"BSc Data Science, AI & Digital Business",BSc,Full-time,36 months,English,Campus,This unique combination of business and techno...,https://www.bachelorstudies.com/BSc-Data-Scien...,Germany,Berlin,Europe,3.0,True,English,Apply Now This unique combination of business ...,### Curriculum#### How will you study?GISMA Bu...,NaN,### Program Outcome#### **What will you learn?...

In [15]:
df.duplicated().sum()

27

In [16]:
df.drop_duplicates(keep = 'first', inplace = True, ignore_index = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Location         896 non-null    object
 1   School           896 non-null    object
 2   Course           896 non-null    object
 3   Degree_type      896 non-null    object
 4   Pace             633 non-null    object
 5   Duration         568 non-null    object
 6   Language         896 non-null    object
 7   Mode             850 non-null    object
 8   Description      896 non-null    object
 9   Link             896 non-null    object
 10  Country          896 non-null    object
 11  City             896 non-null    object
 12  Continent        896 non-null    object
 13  Duration_years   896 non-null    float64
 14  InEnglish        896 non-null    bool
 15  Lang_primary     896 non-null    object
 16  Introduction     896 non-null    object
 17  Curriculum       232 non-null    object
 18  Careers          211 non-null    object
 19  Program_outcome  84 non-null     object
dtypes: bool(1), float64(1), object(18)
memory usage: 134.0+ KB

In [17]:
df['Link'].duplicated().sum()

1

In [18]:
for i in range(0,len(df)):
    if df['Link'].duplicated()[i]:
        for j in range(0,len(df)):
            if df['Link'][i] == df['Link'][j] and i != j:
                print(j,i)

122 552

In [19]:
df.iloc[122]

Location                                               New York, USA
School             The State University of New York International...
Course             Bachelor of Technology in Information Technolo...
Degree_type                                                 Bachelor
Pace                                                       Full-time
Duration                                                     4 years
Language                                                     English
Mode                                                          Campus
Description        Software developers know how to make it work f...
Link               https://www.bachelorstudies.com/Bachelor-of-Te...
Country                                                          USA
City                                                        New York
Continent                                              North America
Duration_years                                                     4
InEnglish                                                       True
Lang_primary                                                 English
Introduction       Making business work. Software developers know...
Curriculum                                                       NaN
Careers            ### Career Opportunities#### Labor Market Data...
Program_outcome                                                  NaN
Name: 122, dtype: object

In [20]:
df.iloc[552]

Location                                               New York, USA
School             The State University of New York International...
Course             Bachelor of Technology in Information Technolo...
Degree_type                                                 Bachelor
Pace                                                       Full-time
Duration                                                     4 years
Language                                                     English
Mode                                                          Campus
Description        Software developers know how to make it work f...
Link               https://www.bachelorstudies.com/Bachelor-of-Te...
Country                                                          USA
City                                                        New York
Continent                                              North America
Duration_years                                                     4
InEnglish                                                       True
Lang_primary                                                 English
Introduction       ### Introduction#### Making business work.Soft...
Curriculum                                                       NaN
Careers            ### Career Opportunities#### Labor Market Data...
Program_outcome                                                  NaN
Name: 552, dtype: object

In [21]:
df.drop([552], inplace = True)

In [22]:
df.reset_index(drop = True, inplace = True)

# Preprocessing textual data

In [25]:
text_data = df[['Course','Introduction', 'Curriculum', 'Careers', 'Program_outcome']].copy()

In [27]:
text_data.head(3)

,Course,Introduction,Curriculum,Careers,Program_outcome
0,B.Eng. Industrial Engineering and Management,Looking for a study programme that trains you ...,,### Career OpportunitiesAfter completing their...,
1,Bachelor in Information Technology (IT),"Work in a challenging and exciting field, whil...",### CurriculumThe curriculum is based on our D...,### Career OpportunitiesThis 4-year bachelor p...,
2,"BSc Data Science, AI & Digital Business",Apply Now This unique combination of business ...,### Curriculum#### How will you study?GISMA Bu...,,### Program Outcome#### **What will you learn?...

In [28]:
text_data.fillna('', inplace = True)

In [29]:
merged_desc = []
for i in range(0, len(text_data)):
    merged_desc.append(' '.join([text_data['Introduction'][i], text_data['Curriculum'][i], 
                                 text_data['Careers'][i], text_data['Program_outcome'][i]]))

In [30]:
df['Merged_desc'] = merged_desc

In [31]:
def text_cleaner(text):
    text = re.sub("&rsquo;", "'", str(text))
    text = re.sub("&\S+\s", "", str(text))
    text = re.sub("[\(\[][\)\]]", "", str(text))
    text = re.sub("\*", " ", str(text))
    text = re.sub("\#", " ", str(text))
    text = re.sub("\s+", " ", str(text))
    return text

In [32]:
def missing_space(text):
    try:
        at = re.search('Curriculum', text).end()
        text = ' '.join([text[:at],text[at:]])
    except:
        pass
    
    try:
        at = re.search('Opportunities', text).end()
        text = ' '.join([text[:at],text[at:]])
    except:
        pass
    
    try:
        at = re.search('Outcome', text).end()
        text = ' '.join([text[:at],text[at:]])
    except:
        pass
    
    split_at= []
    for match in re.finditer("[a-zA-Z]\.[A-z]",text):
        split_at.append(match.span()[0]+2)
    for i in range(0, len(split_at)):
        at = split_at[i]+i
        text = ' '.join([text[:at],text[at:]])
    
    split_at= []
    for match in re.finditer("[a-zA-Z]\?[A-z]",text):
        split_at.append(match.span()[0]+2)
    for i in range(0, len(split_at)):
        at = split_at[i]+i
        text = ' '.join([text[:at],text[at:]])

    return text

In [33]:
df['Merged_desc'] = df['Merged_desc'].apply(missing_space)
df['Merged_desc'] = df['Merged_desc'].apply(text_cleaner)

In [34]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [35]:
from nltk.tokenize import word_tokenize, RegexpTokenizer
from nltk.probability import FreqDist
from nltk.corpus import stopwords
from nltk.tag import pos_tag
from nltk.stem import wordnet
from nltk.stem import WordNetLemmatizer
from nltk.util import bigrams, trigrams, ngrams

In [36]:
def preprocessor(text):
    text = ''.join([i for i in text if not i.isdigit()])
    tokeniser = RegexpTokenizer(r'\w+')
    tokens = tokeniser.tokenize(text)
                
    tagged = []
    for token, tag in pos_tag(tokens):
        if tag[:2] == 'NN':
            lem_tag = 'n'
        elif tag[:2] == 'VB':
            lem_tag = 'v'
        elif tag[:2] == 'JJ':
            lem_tag = 'a'
        elif tag[:2] == 'RB':
            lem_tag = 'r'
        else:
            lem_tag = 'n'
        tagged.append((token.lower(), lem_tag))
        
    lem = WordNetLemmatizer()
    lemmatized = []
    for token, tag in tagged:
        lemmatized.append(lem.lemmatize(token,tag))
        
    wo_stop = []
    for w in lemmatized:
        if w not in stopwords.words('english'):
            wo_stop.append(w)
        
    return ' '.join(wo_stop)

In [37]:
def normalize_sentences(clean_text):
    doc = nlp(clean_text)
    
    sentences = []
    for s in doc.sents:
        sentences.append(preprocessor(str(s)))
        
    norm = []
    for i in sentences:
        if len(i.split())>2:
            norm.append(i)
            
    return norm

In [38]:
normalize_sentences(df['Merged_desc'][0])

['look study programme train career industry future',
 'iu international university applied science online bachelor industrial engineering management develop necessary skill integrate industry sector',
 'earn internationally recognise degree explore smart technology incorporate construction assembly line global supply chain',
 'prepare management role complex industrial setting gain project management design skill hone ability oversee orchestrate massive industrial engineering project',
 'iu international university applied science mystudies model combine study online study germany one campus',
 'work student attend live lecture either online person',
 'study programme include following benefit teach study material marking end module exam free week trial online tutorial guidance tutor use online campus individual study coach online exam',
 'charge extension course duration career coach career opportunity complete beng industrial engineering management ourgraduates often work manufacturing company interface betweenbusiness management technical function',
 'management engineeringor consultancy role plenty opportunity talentedprofessionals field',
 'solution architect system become increasingly complex much powerful',
 'thesame time optimised efficiency reliability safety remain top priority',
 'solution architect responsible entire system sdesign order manage increase number machine product thatare connect real time digital age',
 'software engineer industry software engineer plan create manage distribute softwaresystems',
 'responsible operation maintenance product aswell quality assurance',
 'regularly carry system test evaluate result document use knowledge improveexisting system create entirely new one',
 'data scientist data scientist creative mind behind algorithm',
 'structurelarge amount data compile useful information supervisor withthe goal identify relationship data set',
 'also carryout analysis identify new opportunity productivity efficiency']

In [39]:
df['Norm_sents'] = df['Merged_desc'].apply(normalize_sentences)

In [40]:
df.to_csv('merged_df_norm_sents.csv')

In [48]:
df['Norm_sents'][1]

['work challenging exciting field learn thing information communication technology learn computer program language use late technology security internet thing',
 'get toof late technology include microsoft surface hub virtual reality equipment robot printer readily available internet thing lab',
 'one thisunique feature minor certified ethical hacking oneits kindeurope',
 'curriculum base design base education principle',
 'meansyou work practical assignment small group pursue owninterests work real life case',
 'well connect manyprofessional company student internship asmicrosoft google ibm ing group abn amro',
 'year bachelor program offer outstanding job prospect itindustry year come',
 'information technology graduate get choosewhere want work',
 'thanks increase importance automation anddigitisation able pursue field interest asoftware engineer developer consultant certified ethical hacker']